# srunc-guests service file
#
# Copyright (C) 2018-2019 Togán Labs
# SPDX-License-Identifier: MIT
#

[Unit]
Description=Auto start and stop enabled srunc guests
After=network.target

[Service]
Type=oneshot
ExecStart=/sbin/srunc startup
RemainAfterExit=true
ExecStop=/sbin/srunc shutdown
StandardOutput=journal

[Install]
WantedBy=multi-user.target
